* {
    font-family: "Inter";
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.history-page-title {
    padding-left: 3vw;
    margin: 20px;
    font-size: 36px;
    font-weight: bolder;
}

.search-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 10px;
}

#searchInput {
    padding: 10px;
    margin-right: 5px;
    border-radius: 10px;
    font-size: 20px;
    font-family: 'Inter';
    width: 300px;

}

#searchButton:hover{
    background-color: var(--primary);
}


#searchButton {
    padding: 14px;
    margin-right: 50px;
    cursor: pointer;
    background-color: var(--accent);
    color: white;
    border-radius: 10px;
    border: none;
}
.search-container ion-icon{
  
    font-size: 15px;
    font-weight: bolder;
}




/* ================== My History Section  ============== */
.history-page {
    position: relative;
    width: 96%;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 30px;
    margin: 20px 20px 0 20px; 

    background: var(--white);
    padding: 24px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
}


.history-page .history-table {
    position: relative;
    min-height: 500px;




}

.history-page .history-table table {
    width: 100%;
    border-collapse: collapse;
    

}

.history .history-table thead td {
    font-weight: 200;
    color: #FBFEFD;
    margin-left: 10px;
}

#myHistoryTable thead {
    background-color: var(--accent);
    font-weight: 100;
    color: white;

}


.history-page .history-table tbody tr {
    color: var(--text);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    text-align: left !important;
}

.history-page .history-table tbody td {
    padding: 10px;
    text-align: left !important;
}


.history-page .history-table table tr td {
    padding: 25px;
    text-align: left;
    font-size: 18px;
}


.history-page .history-table table tbody tr:hover, #myHistoryTable tbody tr:nth-child(even):hover {
    background: var(--primary);
    color: var(--white);
}


#myHistoryTable tbody tr:nth-child(even) {
    background-color: #DCF5D1;
}


.history-page .history-table {
    position: relative;
    min-height: 700px;
    overflow-y: auto; 
    max-height: 700px;
}

.history-page .history-table::-webkit-scrollbar {
    width: 12px;
}

.history-page .history-table::-webkit-scrollbar-thumb {
    background-color: #4caf4fa8;

}
    
.history-page .history-table table {
    width: 100%;
    border-collapse: collapse;
}
